<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Palindromo</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est a architecto at labore maiores magni molestias aliquam doloribus odio id, fuga modi consequuntur dolorum in. Quibusdam voluptatibus autem quidem impedit?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/palindromo.PNG" class="img-fluid img-proyecto">

        </div>
    </div>
</div>