<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAp">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/arturo-soria/" target="_blank"><img src="../../../assets/linkedin-logo.png" alt=""></a>
                <a href="https://web.facebook.com/arturo.soria.09/" target="_blank"><img src="../../../assets/facebook-logo.png" alt=""></a>
                <a href="https://twitter.com/ArturoRubnSori1" target="_blank"><img src="../../../assets/twitter-logo.png" alt=""></a>
                <a href="https://github.com/artssoria" target="_blank"><img src="../../../assets/github-logo.png" alt=""></a>
                <a href="https://www.instagram.com/arturo_annisoria49/" target="_blank"><img src="../../../assets/instagram-logo.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LOGIN</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LOGOUT</button>
        </div>
    </div>
</div>

